# ─────────────────────────────────────────────
#  Discloud — Archivo de configuración del bot
#  Documentación: https://docs.discloud.app
# ─────────────────────────────────────────────

# ID de tu aplicación de Discord (número, NO el token)
ID=1499704955022606367

# Tipo de aplicación
TYPE=bot

# Archivo principal
MAIN=main.py

# Versión de Python
VERSION=3.12

# RAM en MB (150 es suficiente para este bot)
RAM=100

# Zona horaria
TIMEZONE=America/Santiago

# Reinicio automático si el proceso cae
AUTO_RESTART=true